@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h3>This is my Code Louisville Project. It is an app that will store all of your favorite movies in a list. You can also search by Title and Genre. Individual user accounts have not been created yet, but are coming very soon! Thank you for taking the time to look at my app.</h3>
