@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    1500 Bardstown Rd<br />
    Louisville, KY 40205<br />
    <abbr title="Phone">P:</abbr>
    502-555-7476
</address>

<address>
    <strong>Support:</strong> <a href="mailto:themarbleamoeba@gmail.com">TheMarbleAmoeba</a><br />
    <strong>Marketing:</strong> <a href="mailto:tokyos3xwhale@gmail.com">Scooty Puff Jr.</a>
</address>
